Source: remitt
Section: misc
Priority: optional
Maintainer: Jeff Buchbinder <jeff@freemedsoftware.com>
Build-Depends: debhelper (>= 4.0.0), po-debconf
Standards-Version: 3.6.0

Package: remitt
Architecture: all
Depends: ${perl:Depends}, debconf, perl, libxml-libxml-perl, libxml-libxslt-perl, libcrypt-ssleay-perl, libwww-perl, libxml-simple-perl, libcgi-session-perl, libconfig-inifiles-perl, libpdf-api2-perl, libwww-mechanize-perl, libio-socket-ssl-perl, libdbd-sqlite-perl
Description: REMITT Electronic Medical Information Translation and Transmission
 REMITT is a second-generation medical bill generation system, which
 is capable of accepting electronic medical record (EMR) information,
 translating it into the appropriate format, and transmitting it to
 the appropriate location.
 .
 REMITT is similar to FreeB (http://www.freeb.org/) in that it can
 generate X12 837P and HCFA 1500 documents using an XML-RPC protocol,
 but REMITT relies on sessions, a monolithic XML file, XSLT, and
 other cutting edge technologies to provide vast speed and quality
 improvements.
