<?xml version="1.0" encoding="utf-8"?>
<!--
  -  $Id$
  - 
  -  Authors:
  -  	Jeff Buchbinder <jeff@freemedsoftware.org>
  - 
  -  REMITT Electronic Medical Information Translation and Transmission
  -  Copyright (C) 1999-2008 FreeMED Software Foundation
  - 
  -  This program is free software; you can redistribute it and/or modify
  -  it under the terms of the GNU General Public License as published by
  -  the Free Software Foundation; either version 2 of the License, or
  -  (at your option) any later version.
  - 
  -  This program is distributed in the hope that it will be useful,
  -  but WITHOUT ANY WARRANTY; without even the implied warranty of
  -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -  GNU General Public License for more details.
  - 
  -  You should have received a copy of the GNU General Public License
  -  along with this program; if not, write to the Free Software
  -  Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
  -
  -->
<configuration>
    <configSections>
            <sectionGroup name="mono.aspnet">
                <section name="acceptEncoding" type="Mono.Http.Configuration.AcceptEncodingSectionHandler, Mono.Http"/>
            </sectionGroup>
    </configSections>
    <system.web>
        <compilation defaultLanguage="c#" debug="true" />
        <customErrors mode="RemoteOnly"/>
        <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
        <authentication mode="None" />
        <authorization>
            <deny users="?" />
        </authorization>
        <httpModules>
                <add name="AuthenticationProvider" type="Remitt.AuthenticationProvider, Remitt.AuthenticationProvider" />
        </httpModules>
    </system.web>
    <mono.aspnet>
        <acceptEncoding>
            <!-- Change disabled to 'no' to enable gzip content encoding -->
            <add encoding="gzip" type="Mono.Http.GZipWriteFilter, Mono.Http" disabled="yes" />
        </acceptEncoding>
    </mono.aspnet>
    <appSettings>
        <add key="MonoServerDefaultIndexFiles"
             value="services.asmx, index.aspx, Default.aspx, default.aspx, index.html, index.htm" />
    </appSettings>
</configuration>
